.i-header-wrapper{
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
.i-header,.i-lsc,.i-pn,.i-ps,.i-topics,.i-footer,.i-end,.i-fixed-search{
    width: 1190px;
    margin: 0 auto;
}
.i-ps,.i-end{
    position: relative;
}
.i-header-nav-left{
    float: left;
}
.i-header-nav-right{
    float: right;
}
.i-hnl-item {
    float: left;
    position: relative;
    z-index:3;
}
.i-hnl-item:hover .i-hnl-link-white {
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    height: 35px;
    position: relative;
    z-index: 4;
}
.i-hnl-item:hover .i-location,.i-hnl-item:hover .i-myorder
,.i-hnl-item:hover .i-mcentry,.i-hnl-item:hover .i-sitenav
,.i-hnl-item:hover .i-qrcode{
    display: block;
}
.i-hnl-link {
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    color:#6c6c6c;
    border: 1px solid transparent;
}
.i-hnl-link:hover{
    color: #FF0036;
}
.i-location, .i-myorder ,.i-mcentry,.i-sitenav,.i-qrcode{
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 36px;
    background-color: white;
    display: none;
    z-index: 3;
}
.i-location {
    width: 400px;
    padding: 10px;
}
.i-myorder{
    width:300px;
    height: 200px;
}
.i-mcentry{
    width:300px;
    height: 200px;
}
.i-sitenav{
    width:300px;
    height: 200px;
}
.i-qrcode {
    width: 180px;
    height: 180px;
    left: -49px;
    top: 37px;
    box-shadow: 0 0 5px 0px #ccc;
    -moz-box-shadow: 0 0 5px 0px #ccc;
    text-align: center;
    padding-top: 15px;
}
.i-qrcode-triangle {
    display: inline-block;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 80px;
    top: -10px;
}
.i-lsc-logo{
    width: 190px;
    height: 90px;
    background: url("../img/logo.png") no-repeat;
    float:left;
    clear: left;
}
.i-lsc-search{
    width:600px;
    height: 90px;
    float: left;
    margin-left: 100px;
}
.i-lsc-cart {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    float: right;
    margin-top: 20px;
    color: #FF0036;
    text-align: center;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.i-lsc-cart-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FF0036;
    color: white;
    text-align: center;
    line-height: 20px;
}
.i-lscs-input {
    border: 2px solid #FF0036;
    margin-top: 20px;
    position: relative;
    z-index:1;
}
.i-lscsi-input {
    border: 0;
    outline: none;
    width: 465px;
    padding: 10px 0 10px 30px;
    font-size: 16px;
}
.i-lscsi-search {
    display: inline-block;
    width: 100px;
    height: 38px;
    background-color: #FF0036;
    line-height: 38px;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: 10px;
    padding-left: 33px;
    font-weight: 700;
}
.i-lscsi-search-icon {
    color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 38px;
    text-align: center;
    padding-top: 11px;
}
.i-lscs-hot-list {
    padding-top: 4px;
}
.i-lscs-hot-item {
    float:left;
    margin-right: 5px;
}
.i-lscs-hot-link {
    display: inline-block;
    text-align: center;
    color: #999;
    border-right: 1px solid #ccc;
    padding: 0 6px;
}
.i-lscsi-sresult {
    width: 497px;
    height: 300px;
    border: 1px solid #999;
    position: absolute;
    top: 38px;
    left: -2px;
    background-color: white;
    display: none;
    z-index: 1;
}
.i-lsc-cart-detail {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    position: absolute;
    right: -1px;
    top: 40px;
    display: none;
    background-color: white;
    z-index: 1;
}
.i-lsc-cart-white{
    width: 200px;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 0;
    top: -1px;
}
.i-lsc-cart:hover .i-lsc-cart-detail{
    display: block;
}
.i-producttype {
    width: 200px;
    height: 36px;
    background-color: #FF0036;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    float: left;
    position: relative;
    z-index: 2;
}
.i-nav {
    float: left;
}
i.i-producttype-icon{
    margin-left: 10px;
}
span.i-producttype-label {
    margin-left: 10px;
    letter-spacing: 10px;
}
.i-pn-wrapper {
    border-bottom: 2px solid #FF0036;
}
.i-nav-list {
    margin-left: 20px;
}
.i-nav-item{
    float: left;
    margin-right: 5px;
}
.i-nav-link {
    height: 36px;
    padding: 0px 10px;
    line-height: 36px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
}
.i-pn {
    margin-top: 30px;
}
.i-pt-wrapper{
    width: 200px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 2;
}
.i-pt-wrapper2{
    width: 200px;
    height: 500px;
    background-color: black;
    opacity: 0.55;
    filter: Alpha(opacity=55);
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
}
.i-pt-link {
    display: inline-block;
    width: 200px;
    height: 36px;
    line-height: 36px;
    color: white;
    font-weight: normal;
    font-size: 14px;
}
.i-pt-icon,.i-pt-label{
    margin-left: 10px;
}
.i-pt-link:hover{
    color: purple;
    background-color: white;
}
.i-pt-triangle {
    border-bottom: 10px solid;
    border-bottom-color: black;
    opacity: 0.55;
    filter:Alpha(opacity=55);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 95px;
    top: 27px;
}
.i-pt-item{
    position: relative;
    height: 36px;
}
.i-pti-wrapper{
    width: 990px;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 200px;
    display: none;
}
.i-pt-item:hover .i-pti-wrapper{
    display: block;
}
.i-promotions-one-bg,.i-promotions-two-bg{
    width: 220px;
    height: 235px;
    background-color: white;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    position: absolute;
    right: 0;
}
.i-promotions-one-bg,.i-promotions-one-wrapper{
    top:10px;
}
.i-promotions-two-bg,.i-promotions-two-wrapper{
    top:255px;
}
.i-promotions-one-wrapper,.i-promotions-two-wrapper{
    width: 220px;
    height: 235px;
    position: absolute;
    right: 0;
    text-align: center;
    overflow: hidden;
}
.i-topics-wrapper{
    background-color: #f0f3ef;
}
.i-topics-title{
    width: 200px;
    background-color: #f0f3ef;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 10px;
    position: relative;
    z-index: 1;
    color: #222;
}
.i-topics-line{
    width: 300px;
    height: 5px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -2.5px;
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
}
.i-topics-header{
    position: relative;
}
.i-topics-section {
    width: 390px;
    height: 450px;
    float: left;
    background-color: white;
    position: relative;
}
.i-ts-margin{
    margin: 0 10px;
}

h3.i-ts-title {
    margin: 20px 0 20px 20px;
    color: #222;
}
.i-ts-nowhite{
    background-color: transparent;
}
.i-ts-border {
    width: 339px;
    height: 417px;
    border: 7px solid #222;
    position: absolute;
    left: 20px;
    top: 20px;
}
.i-shampoo{
    position: relative;
    z-index: 1;
}
.i-ts-img{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
}
.i-ts-img:hover{
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}
.i-tsi-wrapper {
    float: left;
    overflow: hidden;
}
.i-tsiw-one{
    margin:0 0 10px 20px;
}
.i-tsiw-two{
    margin: 0 10px 0 20px;
}
.i-topics-content {
    padding-bottom: 20px;
}
.i-footer-wrapper{
    background-color: #f0f3ef;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-top:20px;
    padding: 30px 0;
}
.i-nav-section{
    float: left;
    width: 238px;
    color: #666;
}
.i-fnav-link{
    line-height: 25px;
    color:#666;
}
.i-fnav-link-first{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 35px;
}
.i-end-h{
    width: 92px;
    margin: 0 auto;
    letter-spacing: 5px;
    color: #ccc;
    background-color: #f0f3ef;
    text-align: center;
    z-index: 1;
    position: relative;
    line-height: 50px;
    font-size: 1.5em;
}
.i-end-line{
    width: 300px;
    height: 3px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -1.5px;
}
.i-end-wrapper{
    background-color: #f0f3ef;
    padding: 30px 0;
}
.i-copyright-wrapper{
    padding: 20px 0;
    border-top: 1px solid #dedede;
}
.i-copyright-section{
    text-align: center;
    color:#999;
    margin: 15px 0;
}
.i-copyright-text{
    color:#999;
}
.i-copyright-line{
    margin:0 10px;
}
.i-copyright-section-one,.i-copyright-section-one a{
    color: #666;
}
.i-fnav-darea{
    color: #666;
}
.i-nav-wrapper {
    padding: 30px 0;
}
.i-promotions-link img{
    transition:all 0.5s linear 0s;
    -webkit-transition:all 0.5s linear 0s;
    -moz-transition:all 0.5s linear 0s;
    -ms-transition:all 0.5s linear 0s;
    -o-transition:all 0.5s linear 0s;
}
.i-promotions-link:hover img{
    transform:scale(1.25);
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
}
.i-sidebar-wrapper{
    width: 270px;
    height: 100%;
    border-left: 6px solid #7a6e6e;
    position: fixed;
    right: -270px;
    top: 0;
    background-color: white;
    z-index: 999;
}
.i-toolbar1-wrapper {
    width: 35px;
    height: 179px;
    position: absolute;
    left: -35px;
    top: 50%;
    margin-top: -89.5px;
}
.i-toolbar2-wrapper {
    width: 35px;
    height: 71px;
    position: absolute;
    left: -35px;
    bottom: 0;
}
.i-toolbar-link-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #7a6e6e;
    text-align: center;
    line-height: 35px !important;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    z-index: 1;
    position: relative;
}
li.i-toolbar-item {
    margin-bottom: 1px;
    position: relative;
}
.i-toolbar-link-text {
    display: inline-block;
    width: 70px;
    height: 35px;
    background-color: #7a6e6e;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    position: absolute;
    left:0;
    top: 0;
    transition:left 0.2s ease 0s;
    -webkit-transition:left 0.2s ease 0s;
    -moz-transition:left 0.2s ease 0s;
    -ms-transition:left 0.2s ease 0s;
    -o-transition:left 0.2s ease 0s;
}
.i-toolbar-item:hover .i-toolbar-link-text{
    left:-70px;
    background-color: #c81623;
}
.i-toolbar-item:hover .i-toolbar-link-icon{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    background-color: #c81623;
}
.i-pti-left{
    width: 700px;
    height: 500px;
    float:left;
}
.i-pti-right{
    width: 290px;
    height: 500px;
    float:left;
}
.i-pti-item-title{
    width: 100px;
    float: left;
}
.i-pti-item-content {
    width: 600px;
    float: left;
    padding-top: 7px;
    border-bottom: 1px dashed #ccc;
}
.i-ptiic-item{
    float: left;
    margin-right: 10px;
}
h3.i-ptii-title {
    color: #333;
    margin: 7px;
    font-size: 14px;
}
a.i-ptiic-link {
    display: inline-block;
    width: 84px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
}
.i-brands-item{
    float: left;
    margin: 15px;
}
.i-brands-img{
    width: 100px;
}
.i-location-item{
    float: left;
}
.i-location-link{
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.i-location-link:hover,.i-location-link-active{
    background-color: #FF0036;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
img.i-qrcode-img {
    width: 160px;
}
.i-promotions-name,.i-promotions-desc,.i-promotions-price,.i-area-title,.i-area-content{
    margin:10px 0;
}
.i-sidebar-content {
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}